<div class="container">
	<div class="row" *ngIf="languageService.selectedLanguage">
		<hr>
		<div class="col-xs-7">Selected:</div>
		<div class="col-xs-4">{{languageService.selectedLanguage.code}}</div>
		<div class="col-xs-1">
			<button class="btn btn-xs btn-danger"
				(click)="languageService.deleteLanguage(languageService.selectedLanguage);
				         $event.stopPropagation()">x</button></div>
	</div>
	<div class="row">
		<hr>
		<div class="col-xs-12">
			<input #languageCode maxlength="2" size="2"/>
			<button class="btn btn-xs"
				(click)="addLanguage(languageCode.value);
				         languageCode.value=''">Add Language</button>
		</div>
	</div>
</div>
