<h2>My Phrases</h2>
<ul class="phrases">
  <li *ngFor="let phrase of phrases"
    [class.selected]="phrase === selectedPhrase"
    (click)="onSelect(phrase)">
    <span class="badge"> > </span> {{phrase.text}}
    <button class="delete"
      (click)="delete(phrase); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedPhrase">
  <h2>
    {{selectedPhrase.text | uppercase}} is my phrase
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Phrase text:</label> <input #phraseText />
  <button (click)="add(phraseText.value); phraseText.value=''">Add</button>
</div>
