<table>
	<tr>
		<th>Language</th>
		<th>Second Language</th>
	</tr>
	<tr>
		<td valign="top" width="50%">
			<ul class="languages">
			  <li *ngFor="let language of languages"
				[class.selected]="language === selectedLanguage"
				(click)="onSelectLanguage(language)">{{language}}</li>
			</ul>
		</td>
		<td valign="top" width="50%">
			<ul class="languages">
			  <li *ngFor="let language of languages"
				[class.selected]="language === selectedSecondLanguage"
				(click)="onSelectSecondLanguage(language)">{{language}}</li>
			</ul>
		</td>
	</tr>

	<tr>
		<th>Phrases</th>
		<th>Selected Phrase</th>
	</tr>
	<tr>
		<td valign="top" rowspan="3">
			<ul class="phrases">
				<li *ngFor="let phrase of phrases"
					[class.selected]="phrase === selectedPhrase"
					(click)="onSelectPhrase(phrase)">
					<vokabel-phrase [phrase]="phrase" (onDelete)="delete(phrase)"></vokabel-phrase>
				</li>
			</ul>
		</td>
		<td valign="top">
			<div *ngIf="selectedPhrase">
			  {{selectedPhrase.text}}
			</div>
		</td>
	</tr>
	<tr>
		<th>Translations</th>
	</tr>
	<tr>
		<td valign="top">
			<ul class="phrases">
			  <li *ngFor="let phrase of translatedPhrases">
			    <vokabel-phrase
		          [phrase]="phrase"
			      (onDelete)="delete(phrase)"
			    ></vokabel-phrase>
			  </li>
			</ul>
		</td>
	</tr>

	<tr>
		<th>Add Phrases</th>
		<th>Add Translation</th>
	</tr>
	<tr>
		<td valign="top">
			<div>
			  <input #phraseText />
			  <button (click)="addPhrase(phraseText.value);
			                   phraseText.value=''">Add Phrase</button>
			</div>
		</td>
		<td valign="top">
		  <translation-add
			[secondLanguage]="selectedSecondLanguage"
			[phrase]="selectedPhrase"
			[translatedPhrases]="translatedPhrases"
		  ></translation-add>
		</td>
	</tr>
</table>
