<table width="100%">
	<tr>
		<th>Language </th>
		<th>Second Language</th>
	</tr>
	<tr>
		<td valign="top" width="50%">
			<img *ngFor="let language of languages"
			  style="padding:5px;"
			  [class.selected]="language === selectedLanguage"
			  (click)="onSelectLanguage(language)"
			  [src]="'flags/' + language + '.svg'"
			  width="15" hspace="5">
		</td>
		<td valign="top" width="50%">
			<img *ngFor="let language of languages"
			  style="padding:5px;"
			  [class.selected]="language === selectedSecondLanguage"
			  (click)="onSelectSecondLanguage(language)"
			  [src]="'flags/' + language + '.svg'"
			  width="15" hspace="5">
		</td>
	</tr>

	<tr>
		<th>Phrases</th>
		<th>Selected Phrase</th>
	</tr>
	<tr>
		<td valign="top" rowspan="3">
			<vokabel-phrase *ngFor="let phrase of phrases"
			  [phrase]="phrase"
			  [class.selected]="phrase === selectedPhrase"
			  (click)="onSelectPhrase(phrase)"
			  (onDelete)="delete(phrase)"
			></vokabel-phrase>
		</td>
		<td valign="top">
			<vokabel-phrase *ngIf="selectedPhrase"
			  [phrase]="selectedPhrase"
			></vokabel-phrase>
		</td>
	</tr>
	<tr>
		<th>Translations</th>
	</tr>
	<tr>
		<td valign="top">
			<vokabel-phrase *ngFor="let phrase of translatedPhrases"
			  [phrase]="phrase"
			  (onDelete)="delete(phrase)"
			></vokabel-phrase>
		</td>
	</tr>

	<tr>
		<th>Add Phrases</th>
		<th>Add Translation</th>
	</tr>
	<tr>
		<td valign="top">
			<div>
			  <input #phraseText />
			  <button (click)="addPhrase(phraseText.value);
			                   phraseText.value=''">Add Phrase</button>
			</div>
		</td>
		<td valign="top">
		  <translation-add
			[secondLanguage]="selectedSecondLanguage"
			[phrase]="selectedPhrase"
			[translatedPhrases]="translatedPhrases"
		  ></translation-add>
		</td>
	</tr>
</table>
