<table width="100%">
	<tr>
		<th>Language </th>
		<th></th>
	</tr>
	<tr>
		<td valign="top" width="50%">
			<img *ngFor="let language of languages"
			  style="padding:5px;"
			  [class.selected]="language === selectedLanguage"
			  (click)="onSelectLanguage(language)"
			  [src]="'flags/' + language.code + '.svg'"
			  width="15" hspace="5">
		</td>
		<td valign="top" width="50%">
		</td>
	</tr>

	<tr>
		<th>Training Mixtures</th>
		<th>Selected Mixture</th>
	</tr>
	<tr>
		<td valign="top" rowspan="3">
			<training-mixture *ngFor="let mixture of mixtures"
			  [mixture]="mixture"
			  [class.selected]="mixture === selectedMixture"
			  (click)="onSelectMixture(mixture)"
			  (onDelete)="delete(mixture)"
			></training-mixture>
		</td>
		<td valign="top">
			<training-mixture *ngIf="selectedMixture"
			  [mixture]="selectedMixture"
			  (onDelete)="delete(mixture)"
			></training-mixture>
		</td>
	</tr>
	<tr>
		<th>Questions</th>
	</tr>
	<tr>
		<td valign="top">
			<div *ngIf="selectedMixture">
				<vokabel-phrase *ngFor="let q of selectedMixture.questions"
					[phraseId]="q.phraseId"
					(onDelete)="deleteQuestion(q.phraseId)"></vokabel-phrase>
			</div>
		</td>
	</tr>

	<tr>
		<th>Add Training Mixture</th>
		<th>Add Question</th>
	</tr>
	<tr>
		<td valign="top">
			<div *ngIf="selectedLanguage">
			  <input #mixtureName />
			  <button (click)="addTrainingMixture(mixtureName.value);
			                   mixtureName.value=''">Add</button>
			</div>
		</td>
		<td valign="top">
		  <translation-add *ngIf="selectedLanguage"
			[languageCode]="selectedLanguage.code"
			(onAdd)="addQuestion($event)"
			(onAddNew)="addNewQuestion($event)"
		  ></translation-add>
		</td>
	</tr>
</table>
