<div id="search-component">
  <div>
    <img [src]="'flags/' + languageCode + '.svg'"
      align="left" width="15" hspace="10" vspace="2">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <button class="btn btn-xs btn-default" 
      (click)="addNew(searchBox.value); searchBox.value=''">Add</button>
    <div *ngFor="let phrase of phrases | async"
        (click)="add(phrase); searchBox.value=''" 
         class="search-result" >
      <img [src]="'flags/' + languageCode + '.svg'"
        align="left" width="15" hspace="10" vspace="2">
        {{phrase.text}}
    </div>
  </div>
</div>
