div {
    cursor: pointer;
    cursor: hand;
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 5px;
}
div:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
div:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.selected:hover {
    background-color: #BBD8DC !important;
    color: green;
}
.selected {
    background-color: #CFD8DC !important;
    color: green;
}
