<div class="container">
	<div class="row">
		<div class="col-xs-12">Second Language:
			<img *ngFor="let language of (languageService.languages | notDeleted)"
			  [class.selected]="selectedSecondLanguage && language.code == selectedSecondLanguage.code"
			  (click)="onSelectSecondLanguage(language)"
			  [src]="'node_modules/flag-icon-css/flags/1x1/' + language.code + '.svg'"
			  [alt]="language.code"
			  width="25">
		</div>
		<hr>
		<div class="col-xs-12 col-sm-7">
			<div class="row" *ngIf="languageService.selectedLanguage">
				<phrase class="col-md-6" *ngFor="let phrase of (phraseService.phrases | notDeleted)"
				  [phrase]="phrase"
				  [selected]="phrase === selectedPhrase"
				  [secondLanguage]="selectedSecondLanguage"
				  (click)="onSelectPhrase(phrase)"
				  (onDelete)="delete($event)"
				></phrase>
				<div class="col-xs-12"><hr></div>
				<div class="col-xs-12">
				  <input #phraseText id="phraseTextInput"/>
					<button id="addPhraseButton"
					    class="btn btn-md btn-default" 
							(click)="addPhrase(phraseText.value); phraseText.value=''"
							>Add Phrase</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5">
			<div class="row" *ngIf="selectedSecondLanguage">
				<div class="col-md-12">Translations:</div>
				<phrase *ngFor="let phrase of [selectedPhrase] | translate: selectedSecondLanguage | notDeleted"
				  [phrase]="phrase"
					class="col-md-12"
				  (onDelete)="deleteTranslation(phrase)"
				></phrase>
				<div class="col-md-12"><hr></div>
				<div class="col-md-12">
					<translation-add  *ngIf="selectedPhrase"
						[languageCode]="selectedSecondLanguage.code"
						(onAdd)="addTranslation($event)"
						(onAddNew)="addNewTranslation($event)"
					></translation-add>
				</div>
			</div>
		</div>
	</div>
</div>
